body
{
  text-align: center;
  background: black;
}

h1
{
  font-size: 40px;
  font-family: OCR A Std;
  color:springgreen;
}

p
{
  font-size:20px;
  font-family: cursive;
  color: white;
}

em
{
  color:deepskyblue;
}

#Barbearia
{
  width:80%;
}
